.containerBarraDePesquisa{
    align-content: center;
    width: 60%;
    margin-left: 30%;
}

.containerBarraDePesquisa .barraDePesquisa{
    
    display: flex;
    align-content: center;
}
.containerBarraDePesquisa .barraDePesquisa input[type='text']{
    border-radius: 40px 0px 0px 40px;
    padding: 10px 90px;
    font-size: 20px;
    background-color: #D9D9D9;
    color: black;
}
.barraDePesquisa button{
    border-radius: 0px 40px 40px 0px;
    background-color: #D9D9D9;
}

.containerBarraDePesquisa input {
    border: none; 
    outline: none; 
}

.containerBarraDePesquisa button{
    border: none; 
    outline: none; 
    cursor: pointer;
}
