.container{
    width: 100%;
    background-color: #ffffff;
}


.editarModelo{
    width: fit-content;
    align-items: center;
    align-content: center;
    height: fit-content;
    margin-left: 25%;
   
}
.editarModelo h1{
    margin-left: 40%;
}
.editarModelo input[type='text']{
    padding: 20px 60px;
    background-color: #D9D9D9;
    color: black;
    font-size: 20px;
    text-align: center;
}
.editarModelo input[type='number']{
    
    padding: 20px 60px;
    background-color: #D9D9D9;
    color: black;
    font-size: 20px;
    text-align: center;
}

.editarModelo input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.editarModelo input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
}

.editarModelo p{
    font-size: 24px;
}
.editarModelo .inputs{
    margin-right: 20%;
    
}
.editarModelo .duplaTextBox{
    display: flex;
}

.editarModelo select{
    width: 368px;
    padding: 20px 110px;
    font-size: 20px;
    text-align: center;
    background-color: #D9D9D9;
    color: black;
}
.editarModelo option{
    text-align:justify;
}
.editarModelo button{
    margin-top: 5%;
    padding: 3% 15%;
    align-items: center;
    align-content: center;
    margin-left: 32%;
    background-color: #6E7075;
    color: black;
    border-radius: 80px;
    font-size: 20px;
}