.container{
    background-color: #FFF;
    color: black;
}
.editarUsuario {
    color: #000000;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Adicione esta linha para centralizar horizontalmente */;
}
.editarUsuario h1{
    text-align: center;
}
.editarUsuario p{
    font-size: 20px;
    margin-left: 20px;
}
.editarUsuario .container{

    align-items: center;
}
.editarUsuario .form1{
    width: 50%;
    margin-right: 50px;
}
.editarUsuario .form{
    width: 96%;
    clear:both;
    margin-right: 500px;
}
.editarUsuario .form input{
    width: 250%;
}
.editarUsuario .metades{
    width: 100%;
    display: flex;
}

.editarUsuario input[type='text']{
    background-color: #D9D9D9;
    font-size: 20px;
    width: 100%;
    padding: 30px 10px;
    border-radius: 40px;
    color: black;
  
}
.editarUsuario input[type='email']{
    background-color: #D9D9D9;
    font-size: 20px;
    width: 100%;
    padding: 30px 10px;
    border-radius: 40px;
    color: #000000;
  
}
.editarUsuario input[type='name']{
    background-color: #D9D9D9;
    font-size: 20px;
    width: 100%;
    padding: 30px 10px;
    border-radius: 40px;
    color: black;
  
}
.editarUsuario input[type='password']{
    font-size: 20px;
    width: 100%;
    padding: 30px 10px;
    border-radius: 40px;
    color: black;
  
}

.editarUsuario button {
    cursor: pointer;
    margin: 0;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    margin-left: 27%;
    padding: 30px;
    width: 40%;
    border-radius: 80px;
    font-size: 30px;
    color: black;
    background-color: #AF0F0F;
}