.informacoesVeiculos{
   width: 160%;
   height: fit-content;
    margin: 0;
    align-items: right;
    border: 3px solid black;
    border-radius: 15px;
}
.informacoesVeiculos h1{
    text-align: center;
}
.informacoesVeiculos p{
    font-size: 20px;
    margin: 5px;
}

.informacoesVeiculos button{
    padding: 10px 30px;
    margin-right: 30px;
    border-radius: 20px;
    color: #000;
    background-color: #7A2222;
    font-size: 20px;
    cursor: pointer;
}
.informacoesVeiculos button:active{
    background-color: #835050;

}

.informacoesVeiculos div{
    padding: 20px;
}