.informacoesVeiculos{
   width: 10%;
    margin: 0;
    padding: 0px 40px;
    margin-left: 60px;

    align-items: right;
    border: 3px solid black;
    border-radius: 15px;
}
.informacoesVeiculos h1{
    text-align: center;
}
.informacoesVeiculos p{
    font-size: 25px;
    margin: 10px;
}

.informacoesVeiculos button{
    padding: 10px 40px;
    margin-right: 40px;
    border-radius: 20px;
    color: #000;
    background-color: #7A2222;
    font-size: 20px;
    cursor: pointer;
}
.informacoesVeiculos button:active{
    background-color: #835050;

}

.informacoesVeiculos div{
    padding: 20px;
}