
.container{
    margin-left: 0;
}
.renderizaInformacoesClientes{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-row-gap:10px ;
    grid-column-gap: 10px ;
    grid-auto-flow: row;
    margin:0;
}